/* Coolors Exported Palette - coolors.co/1446a0-db3069-f5d547-ebebd3-3c3c3b */

$color-blue: #1446a0; //rgba(20, 70, 160, 100)
$color-pink: #db3069; //rgba(219, 48, 105, 100)
$color-yellow: #f5d547; //rgba(245, 213, 71, 100)
$color-cream: #fff; //rgba(235, 235, 211, 100)
$color-grey: #3c3c3b; //rgba(60, 60, 59, 100)
