// Section
// =======
//
// `.a-section` is a container for self-contained, page-level content blocks.


.a-section {
  overflow: hidden;  // keep the content margins inside the section
  padding-left: $page-padding;
  padding-right: $page-padding;
}

