<head>
  <title>West London Coders | Learn, discuss and practice code locally</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="yourpath/favicon.ico" rel="icon" type="image/x-icon" />
  <script src="https://use.fontawesome.com/8219d64355.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Finger+Paint|Special+Elite|Work+Sans:400,700|Josefin+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/normalise.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>


