.m-banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;

  @media #{$brk-wide} {
    padding: 0;
  }

}

.m-banner--yellow {
  background: $color-yellow;
  color: $color-blue;
}

.m-banner--pink {
  background: $color-pink;
  color: $color-yellow;
  a {
    color: $color-blue;
  }
  a:hover {
    border-bottom: 3px solid $color-yellow;
  }
}
