body {
  padding: 45px 0 0 0;
}

.m-navbar {
  min-height: 0;
  height: 45px;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: $color-cream;
  padding: 15px 0;
  background: $color-blue;
  margin-top: -45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 8px 6px -6px #999;

  .pink-hover {
    border: none;
  }
  a.pink-hover:hover {
      color: $color-yellow;
      transition: all 0.6s ease;
      border: none;
    }
  h1 {
    font-family: $logo-font;
    font-size: 3em;
    line-height: 1;
    padding: 0;
    margin: 0;
  }

  h2 {
    font-family: $nav-font;
    font-size: 1.8em;
    padding: 0;
    margin: 0;
  }
  a {
    color: $color-cream;
    border-bottom: 3px solid $color-blue;
  }

  a:hover {
    border-bottom: 3px solid $color-pink;
  }
  i {
    color: $color-yellow;
  }
}
