.m-post-list {
  max-width: 95%;
  margin: 80px auto;

  @media #{$brk-narrow} {
    max-width: 90%;
    height: 75vh;
  }
  @media #{$brk-wide} {
    max-width: 60%;
  }
  a:hover {
    border: none;
    color: lighten($color-blue, 20%);
  }
}

.m-post-list__title {
  display: flex;
  @media #{$brk-narrow} {
    flex-flow: row wrap;
  }
  h1 {
    font-size: 2em;
  }
  i {
    font-size: 1em;
    padding-right: 15px;
  }
}

.m-post-list__meta {
  h2 {
    font-size: 1em;
    opacity: .5;
    margin-bottom: 20px;
    }
  i {
    font-size: .8em;
    padding: 8px;
  }
}

.m-post-list__excerpt {
  // margin-left: 20px;
  margin-bottom: 40px;
  @media #{$brk-narrow} {
    // margin-left: 60px;
  }

}
